.sidebar {
  height: 100%;
}

.stack {
  height: 100%;
}

.title {
  display: flex;
  text-align: center;
  justify-content: center;
}

.badgesGroup {
  margin: 10px 20px;
}

.links {
  gap: 20px;
  display: flex;
  justify-content: center;
}

.link:hover {
  filter: grayscale(90%);
}
