.sidebar {
  height: 100%;
}

.stack {
  height: 100%;
}

.title {
  display: flex;
  text-align: center;
  justify-content: center;
}

.group {
  margin: 10px 20px;
}

.link:hover {
  border: 2px dotted;
  filter: grayscale(100%);
}
